body {
	color: black;
	font-family: 'Montserrat', sans-serif;
}

.row { box-sizing: border-box; max-width: 1024px; margin: 0px auto; }
.row.large { max-width: 1290px; }
.row.xlarge { max-width: 1500px; }
.read-more-text { display: none; }

h1 {
	font-family: 'Playfair display', serif;
	font-size: 46px;
	/*margin-bottom: 10px;*/
}
h2 {
	font-family: 'Montserrat', sans-serif;
	font-size: 38px;
	font-weight: 500;
	letter-spacing: -0.04em;
	line-height: 50px;
	margin-bottom: 30px;
	width: fit-content;
	background: rgb(67,233,125);
	background: -moz-linear-gradient(90deg, rgba(67,233,125,1) 0%, rgba(56,249,214,1) 100%);
	background: -webkit-linear-gradient(90deg, rgba(67,233,125,1) 0%, rgba(56,249,214,1) 100%);
	background: linear-gradient(90deg, rgba(67,233,125,1) 0%, rgba(56,249,214,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#43e97d",endColorstr="#38f9d6",GradientType=1);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}
h3 {
	font-size: 38px;
	font-family: 'Playfair display', serif;
	margin-bottom: 20px;
}
p {
	color: #696969;
	font-size: 20px;
	line-height: 32px;
	letter-spacing: -0.04em;
	margin-bottom: 20px;
}
p:last-child {
	margin-bottom: 0px;
}
img {
	max-width: 100%;
}
/*blockquote {

}
blockquote footer {

}*/
blockquote {
	background: #f9f9f9;
	border-left: 10px solid #ccc;
	border-radius: 4px;
	margin: 1.5em 0px;
	padding: 1em 1em;
	quotes: "\201C""\201D""\2018""\2019";
}
blockquote:before {
	color: #ccc;
	content: open-quote;
	font-size: 4em;
	line-height: 0.1em;
	margin-right: 0.25em;
	vertical-align: -0.4em;
}
blockquote p {
	display: inline;
	font-style: italic;
}
blockquote hr {
	margin-top: 20px;
	margin-bottom: 20px;
}
blockquote footer {
	font-size: 16px;
	line-height: 22px;
}
@media (max-width: 1023px) {
	h1 {
		font-size: 36px;
	}
	h2 {

	}
}
@media (max-width: 639px) {
	h1 {
		font-size: 26px;
	}
	h2 {
		font-size: 26px;
		line-height: 34px;
		margin-bottom: 20px;
	}
	p {
		font-size: 16px;
		line-height: 30px;
		letter-spacing: -0.02em;
		margin-bottom: 10px;
	}
	blockquote footer {
		font-size: 14px;
	}
}

::selection {
	background: rgb(67,233,125); /* WebKit/Blink Browsers */
	color: #000000;
	-webkit-text-fill-color: #000000;
}
::-moz-selection {
	background: rgb(67,233,125); /* Gecko Browsers */
	color: #000000;
	-webkit-text-fill-color: #000000;
}



/* Header */
header {
	font-size: 0px;
	margin: auto;
	position: fixed;
	padding: 20px 10px 60px;
	left: 0px;
	right: 0px;
	z-index: 2;
	background: rgb(255,255,255);
	background: -moz-linear-gradient(180deg, rgba(255,255,255,0.7) 0%, rgba(255,255,255,0) 100%);
	background: -webkit-linear-gradient(180deg, rgba(255,255,255,0.7) 0%, rgba(255,255,255,0) 100%);
	background: linear-gradient(180deg, rgba(255,255,255,0.7) 0%, rgba(255,255,255,0) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ffffff",endColorstr="#ffffff",GradientType=1);
	transition: all 0.2s ease-in-out;
}
body.scrolled header {
	background: white;
	padding: 10px 5px;
}
header .logo {
	height: 70px;
	transition: all 0.2s ease-in-out;
}
body.scrolled header .logo {
	height: 50px;
}
header nav {
	float: right;
}
header a {
	border-bottom: 2px solid transparent;
	color: #696969;
	display: inline-block;
	height: 38px;
	font-size: 12px;
	font-weight: 600;
	letter-spacing: 0.1em;
	line-height: 38px;
	margin-top: 15px;
	margin-left: 30px;
	text-decoration: none;
	vertical-align: top;
	text-transform: uppercase;
	transition: all 0.2s ease-in-out;
}
header a.active {
	border-bottom-color: #696969;
}
header a:hover {
	border-bottom-color: black;
}
body.scrolled header a {
	height: 30px;
	line-height: 30px;
	margin-top: 9px;
}
#hamburger {
	display: none;
}
@media (max-width: 749px) {
	body.mobile-menu-is-open {
		overflow: hidden;
		height: 100%;
	}
	header,
	body.scrolled header {
		background: white;
		padding: 10px 0px;
	}
	body.mobile-menu-is-open header {
		top: 0px;
		bottom: 0px;
	}
	header .logo,
	body.scrolled header .logo {
		height: 40px;
	}
	header nav {
		display: none;
		float: none;
		padding-top: 20px;
		padding-left: 20px;
	}
	header nav.is-open {
		display: block;
	}
	header a,
	body.scrolled header a {
		color: #222222;
		display: block;
		height: 28px;
		line-height: 38px;
		margin-left: 0px;
		margin-top: 25px;
		width: fit-content;
		transition: none;
	}
	header a.active {
		border-bottom-color: #222222;
		padding-bottom: 2px;
	}
	#hamburger {
		display: block;
		float: right;
		margin-top: 8px;
		padding: 5px 0px;
	}
	body.mobile-menu-is-open .mobile-background {
		background: rgb(154,233,180);
		top: 60px;
		bottom: 0px;
		left: 0px;
		right: 0px;
		position: fixed;
		z-index: -1;
	}
}



/* Hero */
.hero {
	padding: 0px 40px;
}
.hero-background {
	position: absolute;
	top: 0px;
	bottom: 0px;
	left: 0px;
	right: 0px;
	z-index: -1;
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
}
.hero .table-cell {
	height: 100vh;
	height: calc(100vh - var(--vh-offset, 0px));
}
.hero .strikeout {
	position: relative;
}
.hero .strikeout::after {
	border-bottom: 2px solid #f90000;
	content: "";
	left: 0;
	position: absolute;
	right: 0;
	top: 60%;
}
.hero .handwriting {
	font-family: 'Indie Flower', cursive;
	display: inline-block;
	margin-top: -50px;
	position: absolute;
	margin-left: -180px;
	font-size: 38px;
}
.hero .arrow {
	position: absolute;
	bottom: 0px;
	left: 0px;
	right: 0px;
	height: 50px;
	margin-top: -50px;
}
.hero .arrow a {
	padding-bottom: 10px;
}
.hero .arrow a img {
	padding-bottom: 10px;
	margin-top: -10px;
	transition: opacity 0.25s;
}
.hero .arrow a:hover img {
	opacity: 0.5;
}
@media (max-width: 1023px) {
	.hero .handwriting {
		font-size: 30px;
		margin-left: -140px;
		margin-top: -40px;
	}
}
@media (min-width: 640px) {
	.hero-background {
		background-image: url(../img/hero.jpg);
	}
}
@media (max-width: 639px) {
	.hero-background {
		background-image: url(../img/hero-mobile.jpg);
	}
	.hero h1 {
		font-size: 23px;
	}
	.hero {
		padding: 0px;
	}
	.hero .handwriting {
		font-size: 22px;
		margin-left: -95px;
		margin-top: -25px;
	}
}



.intro {
	padding: 80px 0px;
}
.intro h2 {
	margin-left: auto;
	margin-right: auto;
}
.intro .table-cell {
	width: 50%;
}
@media (max-width: 639px) {
	.intro {
		/*padding: 60px 0px 80px;*/
	}
	.intro p {
		max-width: 420px;
		margin: auto;
	}
}



.services p {
	max-width: 420px;
}
.services .table {
	margin-bottom: 80px;
}
.services .table-cell:first-child {
	padding: 0px 40px;
}
@media (max-width: 1023px) {
	.services .table-cell {
		display: block;
		max-width: 420px;
		margin: auto;
	}
}
@media (max-width: 639px) {
	.services .table-cell:first-child {
		padding: 0px 15px;
	}
}



.thrive {
	background: #e9e9e9;
	padding: 120px 15px;
}
.thrive h2 {
	font-family: 'Playfair display', serif;
	margin-left: auto;
	margin-right: auto;
	-webkit-text-fill-color: black;
	background: none;
}
.thrive p {
	max-width: 500px;
	margin-left: auto;
	margin-right: auto;
}
@media (max-width: 639px) {
	.thrive {
		padding: 60px 15px;
		text-align: left;
	}
	.thrive h2 {
		font-size: 30px;
		margin-left: 0px;
	}
}



.testimonials {
	padding: 120px 0px;
}
@media (max-width: 639px) {
	.testimonials {
		padding: 60px 0px;
	}
}



.contact {
	background: rgb(154,233,180);
	padding: 40px 0px;
}
.contact h3 {
	margin-bottom: 40px;
}
.contact p {
	color: #222;
	max-width: 420px;
}
.contact-form {
	margin-top: 40px;
}
.contact-form label {
	color: #222;
	display: block;
	font-weight: 500;
	margin-bottom: 5px;
}
.contact-form input,
.contact-form textarea {
	appearance: none;
	-webkit-appearance: none;
	box-sizing: border-box;
	border-radius: 4px;
	border-color: rgb(134,204,157);
	border-style: solid;
	border-width: 2px;
	font-family: 'Montserrat', sans-serif;
	font-size: 18px;
	font-weight: 500;
	margin-bottom: 20px;
	padding: 10px 14px;
	width: 100%;
}
.contact-form button {
	appearance: none;
	-webkit-appearance: none;
	background: transparent;
	border: 2px solid #222;
	border-radius: 4px;
	cursor: pointer;
	font-family: 'Montserrat', sans-serif;
	font-size: 20px;
	font-weight: 500;
	letter-spacing: -0.04em;
	padding: 12px 25px;
	color: #222;
	width: 160px;
	transition: all 0.2s ease-in-out;
}
.contact-form button:hover {
	/*background: rgb(67,233,125);*/
	/*color: white;*/
	background: white;
}
/*.contact-form button:focus {
	outline-color: rgb(67,233,125);
}*/
@media (max-width: 1023px) {
	.contact .table-cell {
		width: 100%;
		display: block;
	}
	.contact input,
	.contact textarea {
		display: block;
		max-width: 420px;
	}
}
@media (min-width: 640px) and (max-width: 1023px) {
	.contact h3 {
		margin-top: 40px;
	}
}
@media (max-width: 639px) {
	.contact h3 {
		margin-top: 40px;
		margin-bottom: 30px;
	}
	.contact p {
		margin-bottom: 15px;
	}
}



footer a {
	opacity: 0;
	display: none;
}


/* Grid */
.grid {
	height: 100vh;
}
.grid .table-cell {
	width: 50%;
}
.background-cover {
	background-position: center center;
	background-size: cover;
	background-repeat: no-repeat;
}



/* iMessage chat */
.chat {
	box-sizing: border-box;
	width: 100%;
	max-width: 340px;
	font-family: helvetica;
	/*margin: auto;*/
	/*border: solid 1px #EEE;*/
	display: flex;
	flex-direction: column;
	padding: 10px;

	background: url(../img/iPhone.svg);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	padding: 140px 45px 200px 45px;
	max-width: 380px;
	max-height: 791px;
	overflow: hidden;
}
.messages {
	line-height: 19px;
	margin-top: 30px;
	display: flex;
	flex-direction: column;
	/*opacity: 0;*/
}
.messages:first-child {
	margin-top: 0px;
}
.message {
	display: inline-block;
	border-radius: 20px;
	padding: 8px 15px;
	margin-top: 5px;
	margin-bottom: 5px;
	opacity: 0;
}
.yours {
	align-items: flex-start;
}
.yours .message {
	margin-right: 25%;
	background-color: #eee;
	position: relative;
}
.yours .message.last:before {
	content: "";
	position: absolute;
	z-index: 0;
	bottom: 0;
	left: -7px;
	height: 20px;
	width: 20px;
	background: #eee;
	border-bottom-right-radius: 15px;
}
.yours .message.last:after {
	content: "";
	position: absolute;
	z-index: 1;
	bottom: 0;
	left: -10px;
	width: 10px;
	height: 20px;
	background: white;
	border-bottom-right-radius: 10px;
}
.mine {
	align-items: flex-end;
}
.mine .message {
	color: white;
	margin-left: 25%;
	background: linear-gradient(to bottom, #5496f7 0%, #3c83f6 100%);
	background-attachment: fixed;
	position: relative;
}
.mine .message.last:before {
	content: "";
	position: absolute;
	z-index: 0;
	bottom: 0;
	right: -8px;
	height: 20px;
	width: 20px;
	background: linear-gradient(to bottom, #5496f7 0%, #3c83f6 100%);
	background-attachment: fixed;
	border-bottom-left-radius: 15px;
}
.mine .message.last:after {
	content: "";
	position: absolute;
	z-index: 1;
	bottom: 0;
	right: -10px;
	width: 10px;
	height: 20px;
	background: white;
	border-bottom-left-radius: 10px;
}
@media (max-width: 412px) {
	.contact .chat {
		height: 754px;
		background-size: contain;
		padding-left: 50px;
		padding-right: 50px;
	}
	.contact .message {
		font-size: 13px;
	}
	.yours .message {
		margin-right: 20%;
	}
	.mine .message {
		margin-left: 20%;
	}
}
@media (max-width: 400px) {
	.contact .chat {
		padding-left: 45px;
		padding-right: 45px;
	}
}
@media (max-width: 350px) {
	.contact .chat {
		padding-top: 170px;
	}
	.contact .message {
		font-size: 12px;
	}
	.message {
		line-height: 17px;
	}
	.messages {
		margin-top: 15px;
	}
	.yours .message {
		margin-right: 15%;
	}
	.mine .message {
		margin-left: 15%;
	}
}



/* Confetti */
.wrapper-confetti {
	position: relative;
	min-height: 100vh;
	overflow: hidden;
}
[class|="confetti"] {
	position: absolute;
}
.red {
	background-color: #E94A3F;
}
.yellow {
	background-color: #FAA040;
}
.blue {
	background-color: #5FC9F5;
}